$container-max-widths: (
  sm: 540px,
  md: 690px,
  lg: 960px,
  xl: 1140px,
  xxl: 1280px,
);

// Colors
$primary: #0e8784;
$secondary: #333d4b;
$ternary: #fdd6ba;
$primary-hover: #66d2cf;
$primary-disabled: #e2dedb;
$secondary-bg: #2c343e;

// Fonts
$font-barlow: "Barlow", serif;
$font-fraunces: "Fraunces", serif;
$font-family-base: $font-barlow;

// Headings
$headings-font-family: $font-fraunces;
$headings-font-weight: 900;
$headings-color: #fefcf7;

$h1-font-size: 72px;
$h1-line-height: 72px;

$h2-font-size: 40px;
$h2-line-height: 48px;

$h3-font-size: 32px;
$h3-line-height: 36px;

$h4-font-size: 24px;
$h4-line-height: 32px;

// Body
$body-bg: #fefcf7;
$body-color: $secondary;
$body-font-size: 16px;
$body-line-height: 26px;

$link-color: #83888f;
$link-hover-color: #afb8c4;

$border-radius: 10px;
$border-radius-sm: 8px;
$border-radius-lg: 12px;

// Card
$card-spacer-x: 30px;
$card-color: $body-bg;

// Navbar
$navbar-padding-y: 40px;
$navbar-brand-padding-y: 0;
$navbar-brand-margin-end: 0;
$nav-link-font-size: 12px;
$nav-link-hover-color: $secondary;

// Buttons
$btn-border-radius: 6px;
$btn-padding-y: 16px;
$btn-padding-x: 32px;
$btn-font-family: $font-fraunces;
$btn-link-hover-color: #fefcf7;

// Accordion
$accordion-button-bg: none;
$accordion-button-active-bg: none;
$accordion-border-width: 0;
$accordion-button-color: #83888f;
$accordion-button-active-color: #83888f;
$accordion-padding-y: 0;
$accordion-padding-x: 0;
$accordion-icon-width: 18px;
$accordion-icon-color: $primary;
$accordion-icon-active-color: $primary;

$accordion-button-active-icon: url('data:image/svg+xml,<svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path id="Path 2" d="M15.9488 0.585785L18.7773 3.41421L9.6816 12.5099L0.585938 3.41421L3.41436 0.585785L9.68115 6.853L15.9488 0.585785Z" fill="#{$accordion-icon-active-color}"/></svg>');
$accordion-button-icon: url('data:image/svg+xml,<svg width="19" height="13" viewBox="0 0 19 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path id="Path 2" d="M15.9488 0.585785L18.7773 3.41421L9.6816 12.5099L0.585938 3.41421L3.41436 0.585785L9.68115 6.853L15.9488 0.585785Z" fill="#{$accordion-icon-active-color}"/></svg>');

// Modal
$modal-md: 540px;
$modal-inner-padding: 56px;
$modal-content-color: #333d4b;
