html {
  scroll-behavior: smooth;
}

body {
  @include media-breakpoint-only(md) {
    font-size: 15px;
  }

  @include media-breakpoint-down(sm) {
    margin-left: 24px;
    margin-right: 24px;
  }
}

h1 {
  line-height: $h1-line-height;

  @include media-breakpoint-only(md) {
    font-size: 48px;
    line-height: 48px;
  }
}

h2 {
  line-height: $h2-line-height;

  @include media-breakpoint-down(sm) {
    font-size: 40px;
    line-height: 40px;
  }
}

h3 {
  line-height: $h3-line-height;
}

h4 {
  line-height: $h4-line-height;
}

footer {
  background-color: $secondary;
  margin-bottom: 88px;

  .footer-link {
    color: $link-color;
    text-transform: uppercase;
    text-decoration: none;
    font-size: $nav-link-font-size;

    &:hover,
    &:active,
    &:focus {
      color: #fefcf7;
    }
  }

  .footer-icons {
    color: $body-bg;
    font-size: 20px;
    margin-left: 15px;
  }

  .align-items-center {
    padding: 45px 85px;

    @include media-breakpoint-only(md) {
      padding: 55px 200px;
    }

    @include media-breakpoint-down(sm) {
      padding: 54px 0;
    }
  }

  @include media-breakpoint-only(md) {
    margin: 144px 40px 72px;

    img {
      margin-bottom: 32px;
    }

    .social-icons {
      margin-top: 65px;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 72px;

    .footer-logo {
      text-align: center;
      margin-top: 54px;
      margin-bottom: 48px;
    }

    .footer-nav {
      .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .footer-link {
        font-size: 15px;
      }
    }

    .social-icons {
      margin-top: 48px;
      .fa {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.text-ternary {
  color: $ternary;
}

.bg-secondary {
  background-color: $secondary-bg;
}

.navbar {
  text-transform: uppercase;
}

.nav-link {
  &.active {
    color: $secondary;
  }
}

.btn-primary {
  --#{$prefix}btn-active-color: #{$btn-link-hover-color};
  color: $body-bg;

  &:hover {
    color: $body-bg;
    background-color: $primary-hover;
    border-color: $primary-hover;
  }

  &:disabled,
  &.disabled {
    color: $body-bg;
    background-color: $primary-disabled;
    border-color: $primary-disabled;
    opacity: initial;
  }

  &.active,
  &.show {
    color: $body-bg;
    background-color: $primary-hover;
    border-color: $primary-hover;
  }

  @include media-breakpoint-only(md) {
    --bs-btn-font-size: 18px;
  }
}

.modal-header {
  background-color: $secondary;
  padding: 48px 56px 40px;
}

.modal-content {
  p {
    &:first-child {
      font-size: 24px;
      font-family: $font-fraunces;
      line-height: 40px;
      color: #83888f;
    }
  }

  h3 {
    color: $secondary;
  }
}

.big-title {
  font-family: $font-fraunces;
}

.hero,
.hero-with-button {
  position: relative;
  width: 100%;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

    @include media-breakpoint-down(sm) {
      width: 327px;
      height: 500px;
      object-fit: cover;
    }
  }
}

.hero {
  margin-top: 44px;
  padding: 145px 85px 113px;

  .hero-story {
    h1,
    h2 {
      margin-bottom: 32px;
    }

    p {
      color: rgba($headings-color, 0.8);
    }
  }

  @include media-breakpoint-only(md) {
    margin-top: 12px;
    padding: 118px 58px;
  }

  @include media-breakpoint-down(sm) {
    padding: 111px 24px 87px 24px;

    .hero-story {
      h2 {
        text-align: center;
        margin-bottom: 24px;
      }

      p {
        text-align: center;
        margin-bottom: 0;
      }
    }
  }
}

.hero-with-button {
  padding: 117px 85px;

  @include media-breakpoint-down(sm) {
    padding: 100px 24px;
  }

  h1 {
    margin-bottom: 34px;

    @include media-breakpoint-down(sm) {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 24px;
    }
  }

  @include media-breakpoint-only(md) {
    padding: 104px 58px;
  }
}

.hero-text {
  margin-bottom: 58px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 38px;
  }

  p {
    width: 444px;
    color: rgba($body-bg, 0.8);
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
      width: 279px;
    }
  }
}

.products-section {
  margin-top: 136px;
  padding-left: 84px;
  padding-right: 84px;

  @include media-breakpoint-down(sm) {
    margin-top: 120px;
    padding-left: 0;
    padding-right: 0;
  }

  > .row:last-child {
    margin-top: -70px;
  }

  h2 {
    font-family: $font-fraunces;
    font-size: 150px;
    line-height: 1;
    text-align: center;
    letter-spacing: 10px;
    padding: 24px 0 0;
    margin-bottom: 0;

    background-image: linear-gradient(0deg, #fefcf7 0%, #83888f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-down(sm) {
      font-size: 40px;
      line-height: 72px;
      letter-spacing: 2px;
      padding-top: 0;
    }
  }

  > .row:last-child {
    margin-top: -45px;
    padding-left: 24px;
    padding-right: 50px;
  }

  @include media-breakpoint-only(md) {
    margin-top: 144px;
    padding-left: 0;
    padding-right: 0;

    h2 {
      font-size: 96px;
      letter-spacing: 8px;
    }
  }

  @include media-breakpoint-down(sm) {
    > .row:last-child {
      margin-top: -10px;
    }
  }
}

.card-product {
  background-color: transparent;
  text-align: center;
  border: none;

  .card-body {
    color: $body-color;
    padding: 0;
    margin-top: 72px;
  }

  .card-img-top {
    width: 234px;
    height: 178px;
    object-fit: cover;
  }

  .card-text {
    margin-top: 24px;
    margin-bottom: 0;
  }

  @include media-breakpoint-only(md) {
    &:not(:first-child) {
      margin-top: 30px;
    }

    .card-body {
      margin-top: 26px;

      text-align: start;
    }

    .card-img-top {
      width: 255px;
      height: 178px;
    }
  }

  @include media-breakpoint-down(sm) {
    .card-body {
      margin-top: 24px;
    }

    .card-img-top {
      width: 200px;
      height: 151px;
    }

    & {
      margin-bottom: 48px;
    }
  }
}

.features-section {
  margin-top: 200px;

  > .row {
    &:first-child {
      background-color: $secondary-bg;
      height: 576px;

      @include media-breakpoint-down(sm) {
        height: 902px;
      }
    }

    &:last-child {
      margin-top: -230px;
      padding-left: 85px;
      padding-right: 85px;
    }
  }

  @include media-breakpoint-only(md) {
    margin-top: 144px;

    > .row {
      &:last-child {
        margin-top: -300px;
        padding-left: 58px;
        padding-right: 58px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 74px;

    > .row {
      &:last-child {
        margin-top: -550px;
        padding-left: 24px;
        padding-right: 24px;
        gap: 24px;
      }
    }
  }
}

.features-headline {
  padding-top: 100px;
  text-align: center;

  p {
    margin-top: 2rem;
    color: rgba($body-bg, 0.8);
  }

  @include media-breakpoint-only(md) {
    padding: 56px 74px 70px;
  }
  @include media-breakpoint-down(sm) {
    padding: 64px 12px;

    h2 {
      font-size: 28px;
      line-height: 28px;
    }

    p {
      margin-top: 24px;
      padding: 0 24px;
      margin-bottom: 0;
      font-size: 15px;
      line-height: 24px;
    }
  }
}

.feature-card {
  text-align: center;
  background-color: $primary;

  img {
    width: 72px;
    height: 72px;
    margin: 72px auto 0;
  }

  .card-title {
    margin-bottom: 24px;
  }

  .card-body {
    margin-top: 56px;
    margin-bottom: 20px;
    padding: 16px 44px;
  }

  @include media-breakpoint-only(md) {
    margin-bottom: 24px;

    img {
      margin-top: 62px;
      margin-left: 30px;
    }

    .card-body {
      padding: 41px 48px 41px 0;
      margin-top: 0;
      margin-bottom: 0;
      text-align: left;
    }
  }

  @include media-breakpoint-down(sm) {
    img {
      margin-top: 30px;
    }
    .card-body {
      padding: 56px 12px 51px;
      margin: 0;
    }
  }
}

.how-it-works-section {
  margin-top: 200px;
  margin-bottom: 200px;

  @include media-breakpoint-down(sm) {
    margin-top: 120px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
  }

  &.create-plan {
    background-color: $secondary-bg;
    margin-top: 155px;
    padding-top: 20px;
    padding-bottom: 36px;

    h3 {
      color: $body-bg;
    }
    p {
      color: $body-bg;
    }
  }

  h2 {
    color: $link-color;
  }

  > .row {
    padding-left: 85px;
    padding-right: 85px;

    @include media-breakpoint-down(sm) {
      padding: 0;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 24px;
      text-align: center;

      > div {
        margin-bottom: 56px;
      }
    }

    @include media-breakpoint-only(md) {
      padding-left: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    > div.d-none {
      padding-left: 85px;
      padding-right: 85px;
    }

    h2 {
      font-size: $h4-font-size;
    }
  }

  @include media-breakpoint-only(md) {
    margin-top: 120px;
    margin-bottom: 40px;
  }

  @include media-breakpoint-down(sm) {
    &.create-plan {
      margin-top: 120px;
    }
  }
}

.steps-line {
  position: relative;
  margin-top: 80px;
  margin-bottom: 67px;
}

.timeline {
  position: absolute;
  top: 50%;
  left: 2%;
  right: 0;
  height: 2px;
  background-color: $ternary;
  z-index: 0;
  width: 68%;

  @include media-breakpoint-only(md) {
    left: 4%;
  }
}

.steps-circle {
  position: relative;
  width: 31px;
  height: 31px;
  border: 2px solid $primary;
  border-radius: 50%;
  background-color: $body-bg;
  z-index: 1;
}

.steps-details {
  margin-bottom: 64px;

  h1 {
    margin-bottom: 38px;
  }

  h3 {
    width: 255px;
    margin-bottom: 42px;

    @include media-breakpoint-only(md) {
      width: 180px;
    }
  }

  p {
    width: 285px;
    margin-bottom: 0;

    @include media-breakpoint-only(md) {
      width: 180px;
    }
  }

  @include media-breakpoint-only(md) {
    margin-bottom: 44px;
  }

  @include media-breakpoint-down(sm) {
    h1 {
      font-size: 72px;
      line-height: 72px;
    }

    h3 {
      font-size: 28px;
      line-height: 32px;
      width: 327px;
    }
  }
}

.our-commitment {
  margin-top: 176px;
  padding: 0 85px;

  @include media-breakpoint-only(md) {
    margin-top: 144px;
    padding: 0;

    .row img {
      width: 281px;
      height: 470px;
      object-fit: cover;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 120px;
    padding: 0;

    .row img {
      width: 327px;
      height: 400px;
      object-fit: cover;
    }
  }
}

.commitment-description {
  margin-top: 90px;
  margin-bottom: 90px;
  margin-left: 100px;

  h2 {
    color: $secondary;
    margin-bottom: 32px;
  }

  @include media-breakpoint-only(md) {
    padding-left: 60px;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 10px;
  }

  @include media-breakpoint-down(sm) {
    margin: 48px 0;
    h2 {
      font-size: 32px;
      line-height: 48px;
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 0;
      line-height: 25px;
    }
  }
}

.quality-standards {
  margin-top: 254px;
  padding: 0 85px;
  background-color: $secondary-bg;

  .quality-img {
    margin-top: -86px;
    margin-bottom: 86px;
  }

  @include media-breakpoint-only(md) {
    margin-top: 348px;
    padding-left: 58px;
    padding-right: 58px;

    .quality-img {
      width: 573px;
      height: 320px;
      object-fit: cover;
      margin-top: -160px;
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 134px;
    padding-left: 24px;
    padding-right: 24px;

    .quality-img {
      width: 279px;
      height: 156px;
      object-fit: cover;
    }
  }
}

.quality-description {
  margin-top: 60px;
  margin-right: 100px;

  h2 {
    margin-bottom: 32px;
  }

  p {
    color: $body-bg;
  }

  @include media-breakpoint-only(md) {
    margin-top: 64px;
    margin-right: 0;
    text-align: center;

    p {
      margin-bottom: 50px;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 61px;
    h2 {
      font-size: 28px;
      text-align: center;
      margin-bottom: 24px;
    }
  }
}

.headquarters {
  margin-top: 179px;
  margin-bottom: 168px;
  padding-left: 77px;
  padding-right: 158px;

  h4 {
    color: $link-color;
    margin-bottom: 72px;
  }

  h3 {
    color: $secondary-bg;
  }

  @include media-breakpoint-only(md) {
    padding: 0;
    margin-top: 144px;
    margin-bottom: 144px;

    h3 {
      font-size: 24px;
    }

    img {
      width: 41px;
      height: 49px;
      object-fit: cover;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 120px;
    margin-bottom: 76px;
    padding: 0;
    text-align: center;

    h4 {
      font-size: 24px;
      line-height: 32px;
    }

    .head-quarter {
      margin-bottom: 64px;
    }
  }
}

.headquarters-description {
  margin-top: 46px;
}

.checkout-section {
  margin-top: 100px;
  margin-bottom: 120px;
}
.checkout-details,
.authentication {
  padding-left: 60px;
  padding-right: 60px;
}

.checkout-details {
  h3 {
    background-color: $primary;
    text-align: center;
    padding: 10px 0;
  }
}

.table-checkout {
  margin: 50px 0;

  tbody {
    td {
      text-align: center;
    }
  }
}

.authentication {
  .nav-pills .nav-item > a {
    font-size: 32px;
    font-family: $font-fraunces;
    border-radius: 0;
    line-height: 32px;
    padding: 10px 0;
  }
}
